<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Rant Blog</title>

    <link rel="icon" type="image/png" sizes="32x32" href="~/img/favcon.png">
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <!-- Theme CSS -->
    <link href="~/Content/clean-blog.min.css" rel="stylesheet" />

    <!-- To allow for paged lists -->
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css">

    <!-- Custom Fonts -->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Overide CSS-->
    <link href="~/Content/Day-Three.css" rel="stylesheet" />

</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                @*<a class="navbar-brand" href="index.html">Start Bootstrap</a>*@
                <!-- Alertnate if the at action link does not work for some reason maybe needed for css issues -->
                @*<a class="navbar-brand" href="@Url.Action("Index", "BlogPosts")">Start Bootstrap</a>*@
                @Html.ActionLink("Shawn Shroyer", "Index", "BlogPosts", null, new { @class = "navbar-brand" })

                @using (Html.BeginForm("Index", "BlogPosts", FormMethod.Get, htmlAttributes: new { @class = "form navbar-brand" }))
                {
                    <div class="controls controls-row search-row">
                        <input id="searchStr" name="searchStr" class="input-block-level" type="text" placeholder="Search" />
                        <button id="searchStrBtn" class="btn-sm" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                }
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @Html.ActionLink("Home", "Index", "BlogPosts")
                    </li>
                    <li>
                        @Html.ActionLink("About", "About", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("Contact Me", "Contact", "Home")
                    </li>
                    <li>
                        @if (User.IsInRole("Admin"))
                        {
                            @Html.ActionLink("Create New", "Create", "BlogPosts")
                        }
                    </li>
                    <li>
                        @if (User.IsInRole("Admin"))
                        {
                            object routeObj;
                            ViewContext.RouteData.Values.TryGetValue("slug", out routeObj);
                            if (routeObj != null)
                            {
                                @Html.ActionLink("Edit Post", "Edit", new { slug = routeObj.ToString() })
                            }
                        }
                    </li>

                    <li>
                        @Html.Partial("_LoginPartial")
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    @RenderBody()

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="https://www.linkedin.com/in/shawn-shroyer-37074ba7" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-fw fa-linkedin fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://shawn.shroyer.family" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-fw fa-globe fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/shawnshroyer" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Destroyer Productions @DateTime.Now.Year</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="~/Scripts/jqBootstrapValidation.js"></script>

    @*<script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@

    <!-- Theme JavaScript -->
    <script src="~/Scripts/clean-blog.min.js"></script>

    <!-- Sweet Alerts -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
