@model DayThree_Blog.Models.Comment

@{
    ViewBag.Title = "Delete";
}

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('../../img/Delete-Blog.png')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Delete</h1>
                    <hr class="small">
                    <span class="subheading">This we can do without!</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Author.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BlogPost.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlogPost.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateReason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateReason)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("slug", TempData["Slug"])

        <div class="form-actions no-color">
            @Html.ActionLink("Back to Blog", "Details", "BlogPosts", new { ViewBag.Slug }, new { @class = "btn btn-default" })
            <input type="submit" value="Delete" class="btn btn-default btn-danger" />
        </div>
    }
</div>
