@model DayThree_Blog.Models.BlogPost

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" @*style="background-image: url('../../img/post-bg.jpg')"*@>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>@Model.Title</h1>
                    <h2 class="subheading">@Model.Abstract</h2>
                    <span class="meta">Posted on @Model.Created.ToString("f")</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                @*@if (Model.MediaUrl != null)
                {
                    <img class="img-responsive" src="@Model.MediaUrl" alt="" />
                }*@
                @Html.Raw(Model.Body)
            </div>
        </div>

        @if (User.Identity.IsAuthenticated)
        {
            <hr />
            <div class="row">
                @using (Html.BeginForm("Create", "Comments", FormMethod.Post, htmlAttributes: new { @class = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("BlogPostId", Model.Id)
                    @Html.HiddenFor(m => m.Slug)


                    <div class="form-group">
                        @Html.Label("Add Comment", new { @class = "col-md-2 col-md-offset-2 control-label" })
                        <div class="col-md-5">
                            @Html.TextArea("commentBody", new { @class = "form-control", placeholder = "Comment Body", rows = "4" })
                        </div>
                    </div>

                    <div class="col-md-1">
                        <button class="btn btn-default" type="submit">Submit</button>
                    </div>
                }
            </div>
            <br />
        }

        <div class="row">
            @foreach (var comment in Model.Comments)
            {
                <div class="panel panel-default container">
                    <div class="panel-heading row small">
                        <div class="col-md-10">
                            Author: @comment.Author.DisplayName
                        </div>

                        @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
                        {
                            <div class="col-md-2">
                                @Html.ActionLink(" [EDIT] ", "Edit", "Comments", new { comment.Id, Model.Slug }, null)
                                @Html.ActionLink(" [DELETE] ", "Delete", "Comments", new { comment.Id, Model.Slug }, null)
                            </div>
                        }
                    </div>

                    <div class="panel-body row">@comment.Body</div>
                    <div class="panel-footer row small">
                        Posted: @comment.Created.ToString("f")
                        @if (comment.Updated.HasValue)
                        {
                            @:<br />Updated: @DateTime.Parse(comment.Updated.ToString()).ToString("f")
                            @:<br />Reason for Update: @comment.UpdateReason
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</article>
<hr>

@section scripts
{
<script>
    if ("@Model.MediaUrl") {
        $(function () {
            var url = "url(@Model.MediaUrl)";
            console.log(url);
            console.log("@Model.MediaUrl");
            $("header").css("background-image", url);
        });
    } else {
        $(function () {
            console.log("Testing");
            $("header").css("background-image", 'url(/img/post-sample-image.jpg)');
        });
    }

    @*@if (Model.MediaUrl != null)
    {
        <img class="img-responsive" src="@Model.MediaUrl" alt="" />
    }*@
</script>
}