@model IPagedList<DayThree_Blog.Models.BlogPost>
@using PagedList
@using PagedList.Mvc

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('../../img/Road-Home.png')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Rant Blog</h1>
                    <hr class="small">
                    <span class="subheading">A blog mostly read by me</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

            @foreach (var post in Model)
            {
                <div class="post-preview">
                    <a href="@Url.Action("Details", "BlogPosts", new { slug = post.Slug})">
                        <h2 class="post-title">
                            @post.Title
                        </h2>
                        <p class="post-subtitle">@post.Abstract</p>
                    </a>

                    <p class="post-meta">
                        Posted on @post.Created.ToString("f")

                        @if (post.Updated != null)
                        {
                            @:<br />Updated on @DateTime.Parse(post.Updated.ToString()).ToString("f")
                        }
                    </p>

                </div>
                <hr />
            }

            <!-- Pager -->
            <!-- Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount -->
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchStr = ViewBag.Search }))
        </div>
    </div>
</div>
<hr>